{% extends 'base.html' %}
{% block title %}Photo{% endblock %}

{% block content %}
    <h1>Список фотографии</h1>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    {% for photo in photos %}
         <div class="box">
            <h3><a href="{% url 'webapp:photo_view' photo.pk %}">{{ photo.text }}</a></h3>
            {% if photo.picture %}
                <img class="avatar" src="{{ photo.picture.url }}" width="50" height="50" alt="photo">
            {% endif %}

            {% if perms.webapp.change_product or product.author == request.user %}
                <p><a href="{% url 'webapp:photo_delete' photo.pk %}">Delete</a></p>
                <p><a href="{% url 'webapp:photo_update' photo.pk %}">Update</a></p>
            {% endif %}
          <p>
            <a class="{% if photo in liked_photo %}hidden{% endif %} like" href="{% url 'webapp:photo_like' photo.pk %}">Избранное</a>
            <a class="{% if not photo in liked_photo %}hidden{% endif %} unlike" href="{% url 'webapp:photo_unlike' photo.pk %}">Убрать из избранного</a>
          </p>
         </div>
    {% endfor %}
{% endblock %}